@model IEnumerable<TravelBlogApp.Models.BlogItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add a New Post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.IsPublished)
                {
                    <span style="COLOR: green">@Html.DisplayFor(modelItem => item.Title)</span>
                }
                else
                {
                    <span style="COLOR: red">@Html.DisplayFor(modelItem => item.Title)</span>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
             
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>

            <td>
                @if (item.IsPublished)
                {
                    <a asp-action="UndoPublish" asp-route-id="@item.Id">Undo Publish</a>
                }
                else
                {
                    <a asp-action="Publish" asp-route-id="@item.Id">Publish</a>
                }

                | <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
